<div class="col-10 offset-1 about">
  <h1>About Shoutr</h1>

  <p>Shoutr was built by <a href="https://github.com/DavidLineman">David</a></p>

  <br />

  <p>David is actively working towards becoming a Software Engineer.</p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'david.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">David Lineman</h2>
      <br />
      <p>
        David Lineman...
      </p>
    </div>
  </div>
</div>

<br class="clear /">
<br />
<br />
<br />
<br />